<div class="countdown-timer">
  <div class="countdown-timer__top">
    <h1 class="countdown-timer__title">WE'RE LAUNCHING SOON</h1>
  </div>

  <div class="countdown-timer__middle">
    <div class="countdown-timer__list">
      <app-flip-card-item class="countdown-timer__list__item" [value]="days" label="DAYS"></app-flip-card-item>
      <app-flip-card-item class="countdown-timer__list__item" [value]="hours" label="HOURS"></app-flip-card-item>
      <app-flip-card-item class="countdown-timer__list__item" [value]="minutes" label="MINUTES"></app-flip-card-item>
      <app-flip-card-item class="countdown-timer__list__item" [value]="seconds" label="SECONDS"></app-flip-card-item>
    </div>
  </div>

  <div class="countdown-timer__bottom">
    <div class="countdown-timer__social-media">
      <a class="countdown-timer__icon" href="https://www.facebook.com/fwirsch" target="_blank"><i class="fab fa-facebook-square"></i></a>
      <a class="countdown-timer__icon"><i class="fab fa-pinterest"></i></a>
      <a class="countdown-timer__icon" href="https://www.instagram.com/fwirsch/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
